{% extends 'base.html.twig' %}

{% block fluid %}
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">Aqua Pony World Cup</h1>
            <p class="lead">The world's leading competition for pony's lovers. </p>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
