{% extends 'base.html.twig' %}

{% block fluid %}
    <section class="header">
        <div id="wrapper">
            <div id="container">
                <div id="welcome">
                    <h1><span>Welcome to Costume Race World Cup !</span></h1>
                </div>

                <a href="#" class="btn btn-primary" role="button">Go to the tournaments</a>

            </div>
        </div>
    </section>


{% endblock %}

{% block stylesheets %}
{% endblock %}
