{% extends 'base.html.twig' %}

{% block fluid %}
    <section class="header">
        <div id="wrapper">
            <div id="container">
                <div id="welcome">
                    <h1><span>Welcome to the Aqua Poney World CUP</span></h1>
                    <img src="http://www.goodies-by-sportcam.com/images/imagecache/fiche_article_goodies/JE-PEUX-PAS-JAI-AQUA-PONEY--PONEY2.png" class="mx-auto d-block">
                </div>
                <div class="row">
                    <a href="{{ path('tournament_index') }}" class="btn btn-primary offset-4 col-4 align-self-center" role="button">Go to the tournaments</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
{% endblock %}
