{% extends 'base.html.twig' %}

{% block body %}
    <div id="welcome">
        <h1><span>Welcome to Dragon Costume Race World Cup !</span></h1>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
