{% extends 'base.html.twig' %}

{% block pageheader %}
    <div class=" text-center">
        <div class="container">
            <h1 class="display-4">AQUA PONY WORLD CUP</h1>
            <p class="lead">The world's leading competition for pony's lovers. </p>
        </div>
    </div>
{% endblock %}

{% block fluid %}

    <section class="imgPony">

    </section>

    <section class="lastTournaments">
        <div class="container">
        <h2>Last tournaments</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Number of teams</th>
                </tr>
                </thead>
                <tbody>
            {% for tournament in tournaments %}
            <tr>
                <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.name }}</a></td>
                <td>{{ tournament.nbTeams }}</td>
            </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>

{% endblock %}

{% block stylesheets %}
{% endblock %}
