{% extends 'admin_base.html.twig' %}

{% block body %}
    <h1>Athlete creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <p>
        <a class="btn btn-primary" href="{{ path('admin_athlete_index') }}">Back to the athlete list</a>
    </p>

{% endblock %}
