{% extends 'admin_base.html.twig' %}

{% block body %}
    <h1>Tournament creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}
    <br>
    <a role="button" class="btn btn-primary" href="{{ path('admin_tournament_index') }}">Back to the list</a>
{% endblock %}
