{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournaments list</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tournament</th>
            <th>Number of teams</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td><a href="{{ path('tournament_show', { 'id': tournament.id }) }}">{{ tournament.name }}</a></td>
                <td>{{ tournament.nbTeams }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
