{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tournament</h1>

    {% set currentLevel = tournament.games[0].level %}

    {% for i in currentLevel..0 %}
        <div class="card">
            <div class="card-header">
                {{ constant('GAME_LEVELS', tournament)[i] }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for game in tournament.games if game.level == i %}
                <li class="list-group-item">
                    {{ game.team1.name|default('...') }}
                    vs
                    {{ game.team2.name|default('...') }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}



{% endblock %}
