{% extends 'admin_base.html.twig' %}

{% block body %}
    <h1>Team creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}
    <br>
    <p>
        <a role="button" class="btn btn-primary" href="{{ path('admin_team_index') }}">Back to Teams</a>
    </p>
{% endblock %}
