{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Teams</h1>
    </div>
    <div class="row">
        {% for team in teams %}
           <div class="card col-3">
               <div class="card-body text-center">
                   <img src="http://www.countryflags.io/be/shiny/64.png">
                   <h4 class="card-title">{{ team.name }}</h4>
                   <p class="card-text">Description</p>
                   <a role="button" class="btn btn-info" href="{{ path('team_show', { 'id': team.id }) }}">See more</a>
                   <a role="button" class="btn btn-primary" href="{{ path('team_edit', { 'id': team.id }) }}">Edit</a>
               </div>
           </div>
        {% endfor %}
    </div>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">Create a new team</a>
        </li>
    </ul>
{% endblock %}
